---
import Main from '#astro/layouts/main/index.astro';
import { getCollection } from 'astro:content';
import PageTitle from '#astro/components/PageTitle.astro';
import BlogList from '#astro/components/BlogList.astro';
import {getPostsPerYear} from '#astro/components/utils';

const allPosts = await getCollection('blog');
const posts = getPostsPerYear(allPosts);
---

<Main
	title='Blog'
	description='A collection of articles and tutorials on web development and design.'
>
	<PageTitle title='Articles' />
	<BlogList posts={posts} />
</Main>
