
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: auto;
	padding: 2rem;
	max-width: 65ch;
	text-align: left;
	background-color: #F3F5F8;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: rgb(42 43 44);
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: #222;
}
a {
	color: #3273dc;
}
a:visited {
	color: #6073dc;
}
nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

@font-face {
	font-family: 'TextMeOne';
	src: url('../assets/fonts/TextMeOne-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'TextMeOne';
}