---
import Main from '#astro/layouts/main/index.astro';
---

<Main 
    title="404"
    description="Page not found"
>
    <section>
        <h1>404</h1>
        <p>Page not found</p>
    </section>

    <style>
        section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</Main>
