---
import PageTitle from '#astro/components/PageTitle.astro';
import Main from '#astro/layouts/main/index.astro';
---

<Main 
    title="404 Not Found"
    description="Page not found"
>
    <PageTitle title="404 Not Found" />
    
    <p>You picked the wrong URL, fool!</p>
    <p>AY, AY AY AY! Go back to <a href="/">home</a>, chill, chill!</p>    
</Main>
