---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<content>
                <h2>NOT FOUND</h2>
                <p>You picked the wrong URL, fool!</p>
                <p>AY, AY AY AY! Go back to <a href="/">Home</a>, chill, chill!</p>
			</content>
			<Footer />
		</main>
	</body>
</html>
