---
import Main from '#astro/layouts/main/index.astro';
---

<Main title='Home' description='The home page'>
	<style>
		.container {
			padding: var(--padding);
			display: grid;
			place-items: center;
		}
	</style>
	<section class="container">
		<h1>About me</h1>
		<p>My name is Daniel, originally from Spain, I'm a Web Developer currently based in Berlin 🇩🇪, with true passion for Open-source and building better platforms.</p>
		<p>Mostly made of six elements: oxygen, carbon, hydrogen, nitrogen, calcium, and phosphorus</p>
		<p>
			From time to time I <a target="_blank" href="https://github.com/dobladov/">develop</a> some <a href="/projects">projects</a> or <a href="/blog">write</a> about them.
		</p>
		<p>Currently working at <a target="_blank" href="https://zattoo.com">Zattoo</a></p>
		<p>
			Say Hi! <a href="mailto:danieldoblado@gmail.com">danieldoblado@gmail.com</a>
		</p>
	</section>
</Main>
