---
import Main from '#astro/layouts/main/index.astro';
import PageTitle from '#astro/components/PageTitle.astro';
import Orb from '#astro/components/Orb.astro';
---

<Main
	title='Home'
	description='The home page'
>
	<style>
		.text {
			font-size: 1.5em;
		}

		@media screen and (min-width: 768px) {
			.text {
				padding-right: 20rem;
			}
		}
	</style>

	<PageTitle title="About me" />
	<div class="text">
		<p>My name is Daniel, originally from Spain 🇪🇸 and currently based in Berlin 🇩🇪, I'm a senior frontend developer working at <a target="_blank" href="https://zattoo.com">Zattoo</a>.</p>

		<p>On my day to day, I work on making performant and accesible web applications with focus on interfaces and infrastructure, manly using <a target="_blank" href="https://react.dev/">React</a> and <a href="https://nodejs.org/en" target="_blank">Node.js</a>, but not limited to these technologies.</p>
		<p>
			From time to time I <a target="_blank" href="https://github.com/dobladov/">develop</a> some <a href="/projects">projects</a> or <a href="/blog">write</a> about them.
		</p>
		<p>
			Say Hi! <a href="mailto:danieldoblado@gmail.com">danieldoblado@gmail.com</a>
		</p>
	</div>
</Main>

<Orb client:visible />
