---
import Main from '#astro//layouts/main/index.astro';
import Project from '#astro/components/Project.astro';
---

<Main
	title="Projects"
	description="ist with projects I did over time"
>
	<style>
		.container {
			padding: var(--padding);
		}
	</style>
	<section class="container">
		<h2>Projects</h2>
		<Project title='Youtube2anki' links={{source: 'https://github.com/dobladov/youtube2Anki'}} >
			<p>This is the description</p>
		</Project>
	</section>
</Main>
