---
import Pattern from "./Pattern.astro";
---

<footer>
	<a target="_blank" href="https://codepen.io/dobladov">CodePen</a>
	<a target="_blank" href="mailto:danieldoblado@gmail.com">E-Mail</a>
	<a target="_blank" href="https://github.com/dobladov">GitHub</a>
	<a target="_blank" href="https://stackoverflow.com/users/2498992/daniel-doblado">StackOverflow</a>
	<a rel="me" target="_blank" href="https://mastodon.social/@danieldobla">Mastodon</a>
	<a rel="me" target="_blank" href="https://bsky.app/profile/dobla.do">Bsky</a>
	<Pattern bottom />
</footer>
<style>
	footer {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		padding-left: var(--paddingSides);
		padding-right: var(--paddingSides);
		padding-bottom: 2rem;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		gap: 1em;
		font-size: 1.3rem;
		font-weight: 600;
		z-index: 2;
		text-shadow: 1px 1px 1px var(--background);
	}

	@media screen and (min-width: 768px) {
        footer {
			justify-content: center;
        }
	}

	@media print {
		footer {
			display: none;
		}
	}
</style>
