---
import HeaderLink from '#astro/components/HeaderLink.astro';
import { SITE_TITLE } from '#astro/consts';
import ThemeToggle from '#astro/components/ThemeToggle.astro';

---

<header>
	<nav>
		<h1>
			<a href="/">{SITE_TITLE}</a>
		</h1>
		<div class="internal-links">
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
			<HeaderLink href="/tags">Tags</HeaderLink>
			<HeaderLink href="/rss.xml">RSS</HeaderLink>
			<ThemeToggle />
		</div>
	</nav>
	
</header>
<style>
	header {
		margin: 0;
		padding: 0 calc(var(--padding) / 2);
		padding-top: 1rem;
	}

	h1 a  {
		text-decoration: none;
	}
	h1 {
		margin: 0;
		font-size: 2em;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		gap: 1.5rem;
		align-items: stretch;
	}

	@media screen and (min-width: 468px) {
		nav {
			flex-direction: row;
		}
	}

	.internal-links {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: center;
    	align-items: center;
	}
</style>
