---
import HeaderLink from '#astro/components/HeaderLink.astro';
import { SITE_TITLE } from '#astro/consts';
import ThemeToggle from '#astro/components/ThemeToggle.astro';

---

<header>
	<nav>
		<h2>
			<a href="/">{SITE_TITLE}</a>
		</h2>
		<div class="internal-links">
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
			<HeaderLink href="/tags">Tags</HeaderLink>
			<HeaderLink href="/rss.xml">RSS</HeaderLink>
			<ThemeToggle />
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 var(--padding);
		padding-top: 1rem;
	}
	h2 {
		margin: 0;
		font-size: 2em;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
	}

	@media screen and (min-width: 468px) {
		nav {
			flex-direction: row;
		}
		
	}

	nav a {
		padding: 0.5em;
	}
	nav a.active {
		color: var(--accent);
	}
</style>
