---
import HeaderLink from '#astro/components/HeaderLink.astro';
import { SITE_TITLE } from '#astro/consts';
// import ThemeToggle from '#astro/components/ThemeToggle.astro';

import { Icon } from 'astro-icon/components'
import Pattern from './Pattern.astro';
---

<style>
	header {
		margin: 0;
		padding: 0 var(--paddingSides);
		padding-top: 2rem;
		z-index: 1;
		max-width: 110rem;
		margin: 0 auto;
		width: 100%;
	}

	h1 a  {
		color: var(--accent);
		text-decoration: none;
	}
	h1 {
		margin: 0;
		filter: url("#goovey");
		font-size: 3em;
		text-align: center;
		font-weight: 100;
	}
	
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		gap: 1.5rem;
		align-items: stretch;
	}
	.internalLinks {
		font-size: 1.3em;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: .8rem;
	}

	@media screen and (min-width: 768px) {
		h1 {
			font-size: 3em;
		}

		nav {
			flex-direction: row;
		}

		.internalLinks {
			flex-wrap: wrap;
		}		
	}

    svg {
		width: 1rem;
        fill: var(--text);
    }

	@media print {
		header {
			display: none;
		}
	}

	.rss {
		position: relative;
		top: .1rem;
	}
</style>

<header>
	<nav>
		<h1>
			<a href="/">{SITE_TITLE}</a>
		</h1>
		<div class="internalLinks">
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
			<HeaderLink href="/tags">Tags</HeaderLink>
			<HeaderLink class="rss" href="/rss.xml" title="RSS">
				<Icon name='rss' />
			</HeaderLink>
			<!-- <ThemeToggle /> -->
		</div>
	</nav>
	<svg style="width: 0; height: 0" xmlns="http://www.w3.org/2000/svg" version="1.1">
		<defs>   
		  <filter id="goovey">
				  <feTurbulence type="fractalNoise" baseFrequency="0.03" numOctaves="1" result="warpper"/>
				<feColorMatrix in="warpper" type="hueRotate">
					  <animate attributeType="XML" attributeName="values" values="0;110;150;210;360" dur="6s" repeatCount="indefinite"/>
				</feColorMatrix>
				<feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="20" in="SourceGraphic"/>
		  </filter>
		</defs>
	  </svg>
	<Pattern />
</header>
