---
import { Icon } from 'astro-icon'

interface Props {
    logo?: string;
	title: string;
	links?: {
        source?: string;
        live?: string;
    };
}


const {title, links, logo} = Astro.props;
---

<div class="project">
    <div class="header">
        <Icon name={logo} />
        <h2>{title}</h2>
    </div>
    <slot /> 

    <div class="links">
        {links && links.live && <a target="_blank" href={links.live}>Live</a>}
        {links && links.source && <a target="_blank" href={links.source}>Souce</a>}
    </div>
</div>
<style>
    svg {
        min-width: 4rem;
        max-width: 4rem;
    }

    .header {
        background-color: var(--background);
        position: sticky;
        top: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 1.5rem;
        font-size: . 8rem;
        z-index: 1;
    }

    a {
        color: var(--accent);
        border: 1px solid var(--accent);
        padding: 0.5rem 1rem;
        text-decoration: none;
    }

    svg {
        fill: var(--accent);
    }

    .links {
        display: flex;
        gap: 1rem;
</style>
