---

interface Props {
    title: string;
    description: string;
    url: string;
}

const {title, description, url} = Astro.props;
---
<style>
    #share {
        background: transparent;
        color: var(--accent);
        border: 1px solid var(--accent);
        padding: 1rem 2rem;
    }

    body[data-js="false"] #share {
        display: none;
    }

</style>

<div class="centered">
    <button id="share">
        Share
    </button>
</div>

<script define:vars={{ title, description, url }}>
    const shareBtn = document.getElementById("share");

    if (navigator.canShare) {
        const shareData = {
            title,
            text: description,
            url,
        }

        shareBtn.addEventListener("click", async () => {
            await navigator.share(shareData);
        });
    }
    // else {
    //     console.log("remove");
    //     shareBtn.parentElement.remove();
    // }
</script>
