
main {
 flex: 1;
}

.grain {
    background-image: url('/noise.png');
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .1;
    z-index: -1;
    background-size: 200px;
}
