---
import BaseHead from '#astro/components/BaseHead.astro';
import Header from '#astro/components/Header.astro';
import Footer from '#astro/components/Footer.astro';

type Props = {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <BaseHead title={title} description={description} />
    </head>

    <script>
        document.body.removeAttribute('data-js');
        
        const theme = localStorage.getItem('theme');
        if (theme) {
            document.body.setAttribute('data-theme', theme);
        }
    </script>

    <style>
        main {
            flex: 1;
        }

        section {
            padding-top: 2rem;
            padding-bottom: 2rem;
            padding-left: calc(var(--paddingSides) / 2);
            padding-right: calc(var(--paddingSides) / 2);
        }
    </style>
    
    <body data-js="false">
        <slot name="before-all"/>
        <Header />
        <main>
            <section>
                <slot/>
            </section>
        </main>
        <Footer/>
    </body>
</html>
