---
import BaseHead from '#astro/components/BaseHead.astro';
import Header from '#astro/components/Header.astro';
import Footer from '#astro/components/Footer.astro';

type Props = {
    title: string;
    description: string;
    withSection: boolean;
}

const { title, description, withSection } = Astro.props;

import './index.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <BaseHead title={title} description={description} />
</head>
<script>
    const theme = localStorage.getItem('theme');
    if (theme) {
        document.body.setAttribute('data-theme', theme);
    }
</script>
<style>
    section {
        padding: calc(var(--padding) / 4);
    }

	@media screen and (min-width: 468px) {
		section {
            padding: var(--padding);
		}
	}
</style>
<body>
    <Header />
    <main>
        {
            withSection
            ? <section>
                <slot/>
              </section>
            : <slot />
        }
        <div class="grain"></div>
    </main>
    <Footer/>
</body>
</html>
